.user-card-container{
    width: 100%;
    height: 80px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    display:flex;
    align-items: center;
    padding: 0 20px;
}
.user-card-img{
    width: 60px;
    border-radius: 5px;
    margin-right: 20px;
}
.user-card-content-container{
    display: flex;
    flex-direction: column;
}
.user-card-content-id, .user-card-content-full-name{
    color: #6b7280;
    font-size: 1.2rem;
}
.user-card-content-full-name{
    font-weight: bold;
}