.App-main{
    width: 100%;
    background-color: #3c4cad;
    background-image: linear-gradient(180deg,#3c4cad,#c24ca2,#ff6d7d,#ffb05d,#f9f871);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}
.App-main h1{
    font-size: 3rem;
    color: #fff    ;
    margin-bottom: 5%;
}